@import '../../../../buntpapier'
variables()
// normalize-css()
// base()
// typography()
components()
scrollbars()

$clr-primary = $clr-purple

stripe(colors, angle, width)
	$grad = 'repeating-linear-gradient(' + angle
	for $clr, $i in colors
		$grad += ',' + $clr + ' ' + $i*width + ',' + $clr + ' ' + ($i + 1)*width
	$grad += ')'
	return $grad
$gradclrs = $clr-red $clr-pink $clr-purple $clr-deep-purple $clr-indigo $clr-blue $clr-light-blue $clr-cyan $clr-teal $clr-green $clr-light-green $clr-lime $clr-yellow $clr-amber $clr-orange $clr-deep-orange //$clr-brown $clr-grey $clr-blue-grey

.dark-background
	background-color: $clr-blue-grey
	padding: 8px 16px

// .VPHero .main::before, .VPHero .main::after, 
.VPNavBar .container::before, .VPNavBar .container::after
	content: ''
	display: block
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 24px
	background-image:linear-gradient(to right, transparent, transparent 80%, white 95%), linear-gradient(to left, transparent, transparent 80%, white 95%), unquote(stripe($gradclrs, 90deg, 24px))
	background-size: 100% 102%
	background-repeat: no-repeat

.VPHero .main
	// &::before, &:after
	// 	width: calc(100% - 48px * 2)
	// 	margin: 0 48px

.VPHero .main
	position: relative
	h1
		font-family: 'Roboto Mono'
		position: relative
		line-height: 100px
		font-weight: 400
		font-size: @css{min(80px, 12vw)}
		letter-spacing: 2.25px
		margin: 0 auto
		text-align: center
		white-space: nowrap
	.text
		font-size: 32px
		max-width: 1060px
		margin: 16px auto
		text-align: center
	.actions
		justify-content: center

	&::before
		height: 64px
		opacity 0.7

.VPNavBar
	padding: 0 !important
	.container
		position: relative
		max-width: var(--vp-layout-max-width)
		margin: 0 32px 0 0
		background: rgba(255, 255, 255, 0.7)
		.VPNavBarTitle
			background: none !important
			font-family: 'Roboto Mono'
			letter-spacing: 2.25px
			position: relative
			backdrop-filter: saturate(50%) blur(8px)
			margin-right: 0
			a
				margin: 0 0 0 16px
				color: $clr-white
				font-size: 24px
		.content
			background: none !important
			backdrop-filter: saturate(50%) blur(8px)

		&::before, &::after
			// width: 500px
			background-image: unquote(stripe($gradclrs, 90deg, 24px))
			-webkit-mask-image: linear-gradient(to right, black, black 55%, transparent 95%)
			mask-image: linear-gradient(to right, black, black 55%, transparent 95%)

		&::before
			height: 100%
			opacity 0.7
		&::after
			height 8px

.dark
	.VPNavBar
		.container
			background: rgba(36, 36, 36, 0.7)

// content pages

:root
	--bunt-will-change: all
	--vp-c-brand: $clr-purple
	--vp-c-brand-light: $clr-purple-a400
	--vp-layout-max-width: 100vw
	--vp-home-hero-name-color: transparent
	--vp-home-hero-name-background: unquote(stripe($gradclrs, 90deg, 24px))

.layout-component
	.VPDoc
		.content-container
			max-width: none !important

		.container
			max-width: var(--vp-layout-max-width) !important

.vp-doc table
	display: table
	width: 100%

.bunt-button
	margin: 0 2px
