input()
	.bunt-input
		display flex
		flex-direction column
		height 56px
		padding-top 16px
		flex-shrink 0
		.label-input-container
			position: relative
			display: flex
			align-items: center
		.icon
			font-size: 22px
			color: var(--clr-secondary-text-light)
			padding: 0 0 0 8px
		input
			box-sizing: border-box
			height: 37px
			width: 100%
			border none
			outline none
			font-family $font-stack
			font-size 16px
			font-weight 400
			flex: auto
			padding: 8px 8px 8px 12px
			background-color: transparent
			border-radius: 4px
		label span
			position absolute
			top 8px
			left 12px
			font-size 16px
			font-weight 400
			line-height 21px
			pointer-events none
			color var(--clr-secondary-text-light)
			transition transform 0.25s, width 0.25s
			transform-origin left top
		::placeholder
			color var(--clr-secondary-text-light)
		.error-icon
			font-size: 22px
			color: $clr-danger
			padding-right: 8px
		.outline
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
			stroke: var(--clr-disabled-text-light)
			stroke-width: 1px
			fill: none
			pointer-events: none
			stroke-dasharray: calc(var(--label-gap)/2 + 4) 0 100000
			transition: stroke .15s $material-easing, stroke-width .15s $material-easing, stroke-dasharray .15s $material-easing
		.hint
			font-size 13px
			padding-top 0
			padding-left 16px
			color var(--clr-secondary-text-light)
			line-height 18px
			p // nuke margins for raw html includes
				margin 0

		&.with-icon
			input
				padding-left: 4px

		&.focused
			.outline
				stroke: var(--clr-primary)
				stroke-width: 2px
			label span
				color var(--clr-primary)

		&.floating-label, &.focused, & input:autofill ~
			.outline
				stroke-dasharray: 3 var(--label-gap) 10000
			label span
				transform: translateY(-15px) scale(0.75)

		&.disabled
			cursor: not-allowed
			input
				cursor: not-allowed
				background-color: alpha(#000, 0.08) // TODO THIS IS BAD
				color: var(--clr-disabled-text-light)

			.outline
				stroke-dasharray: 10
			&.floating-label, &.focused
				.outline
					$dash = ''
					for num in (1..135)
						$dash += ' 10'
					stroke-dasharray: 3 var(--label-gap) unquote($dash)

		&.invalid
			.hint , label span
				color $clr-danger

			.outline
				stroke: $clr-danger
				stroke-width: 2px

	.bunt-input--shape-pill
		label span
			left: 24px
		input
			padding-left: 24px
