tooltip()
	.bunt-tooltip
		left: 0
		top: 0
		will-change: transform, opacity
		background-color: $clr-secondary-text-light
		color: $clr-primary-text-dark
		height: 24px
		white-space: nowrap
		line-height: @height
		padding: 0 8px

		font-size: 14px
		font-weight: 400
		text-transform: none
		border-radius: 2px
		pointer-events: none
		user-select: none
		-moz-user-select: none
		z-index: 90000
