@import '../../buntpapier'
$clr-primary = $clr-blue
variables()
normalize-css()
base()
typography()
components()

// a
// 	color ax-primary
// 	text-decoration none

body
	margin 0
	padding 0 0 20rem 0
	background-color $clr-grey-100

.bunt-button
	margin 0 4px
// #app
// 	display flex
