$button-height = 36px

button()
	.{$prefix}-button
		font-family $font-stack
		font-size 14px
		text-transform uppercase
		font-weight 500
		line-height $button-height
		vertical-align middle

		background none
		overflow hidden
		outline none
		border none

		position relative
		display inline-flex
		align-items center
		justify-content center
		cursor default

		border-radius 2px
		padding 0 16px
		min-width 80px
		height $button-height

		&::-moz-focus-inner
			border 0

		&.autofocus:focus,
		body[modality="keyboard"] &:focus
			outline-style solid

		&[disabled]
			opacity 0.6

		&:not([disabled])
			cursor pointer
			
	.{$prefix}-button-content
		display flex
		
	.{$prefix}-icon
		height $button-height
		line-height $button-height
		font-size 20px

	.{$prefix}-button-raised
		box-shadow 0 0 2px alpha(black, 0.12), 0 2px 2px alpha(black, 0.2)
		transition box-shadow 0.1s

		&.autofocus:focus,
		body[modality="keyboard"] &:focus
			outline none
			box-shadow 0 0 5px alpha(black, 0.22), 0 3px 6px alpha(black, 0.3)

	.{$prefix}-button-normal
		&.autofocus:focus,
		body[modality="keyboard"] &:focus
			outline-width 2px
			outline-offset 2px

		&.color-primary,
		&.color-accent,
		&.color-success,
		&.color-warning,
		&.color-danger
			color $clr-white

			.{$prefix}-ripple-ink .ripple.held
				opacity: 0.7

		&.color-default
			color $clr-primary-text-light
			background-color $clr-grey-200

			&:hover:not([disabled]),
			&.dropdown-open
				background-color darken($clr-grey-200, 7.5%)

			&.autofocus:focus,
			body[modality="keyboard"] &:focus
				background-color darken($clr-grey-200, 15%)
				outline-color darken($clr-grey-200, 30%)

			.{$prefix}-ripple-ink .ripple.held
				opacity 0.2

		for xcolor in $clr-names
			&.color-{xcolor}
				background-color lookup('$clr-' + xcolor)
			
				&:hover:not([disabled]),
				&.dropdown-open
					background-color darken(lookup('$clr-' + xcolor), 15%)
				
				&.autofocus:focus,
				body[modality="keyboard"] &:focus
					background-color darken(lookup('$clr-' + xcolor), 20%)
					outline-color darken(lookup('$clr-' + xcolor), 20%)
					
	.{$prefix}-button-clear
		background-color transparent

		&:hover:not([disabled]),
		&.dropdown-open
			background-color darken($clr-grey-200, 3%)

		&.autofocus:focus,
		body[modality="keyboard"] &:focus
			outline-width 2px
			outline-offset 0
				
		&.color-default
			color $clr-primary-text-light
			.{$prefix}-icon
				color $clr-secondary-text-light
			&.autofocus:focus,
			body[modality="keyboard"] &:focus
					outline-color darken($clr-grey-200, 25%)
		
		for xcolor in $clr-names
			&.color-{xcolor}
				color lookup('$clr-' + xcolor)
