// styling/theming mixing
// style = 'flat', 'clear'
// size = 'normal', 'large', 'huge'
button-style(style = null, color = null, size = null, text-color = null)
	if style != null
		--button-style: style
	if color != null
		--button-color: color
	if size != null
		--button-size: size
	if text-color != null
		--button-text-color: text-color
	
