checkbox()
	.bunt-checkbox
		cursor pointer
		position relative
		display flex
		flex-shrink 0
		input
			position absolute
			cursor inherit
			pointer-events all
			opacity 0
			width 100%
			height 100%
			z-index 2
			left 0
			box-sizing border-box
			padding 0
			margin 0
		label
			font-size 14px
			line-height 24px
		.bunt-checkbox-box
			height 20px
			width 20px
			border-radius 2px
			border 2px solid $clr-secondary-text-light
			margin-right 8px
			position relative
			transition all .2s ease-out


			// &:before

			&:after
				width 6px
				height 13px
				position absolute
				top 0
				left 6px
				border 2px solid $clr-white
				border-top 0
				border-left 0
				opacity 0
				transform rotate(45deg) scale3D(.15, .15, 1)
				transition $swift-ease-in
				content ' '
		&.checked
			.bunt-checkbox-box
				background-color $clr-primary
				border-color $clr-primary
				&:after
					opacity 1
					transform rotate(45deg) scale3D(1, 1, 1)
					transition $swift-ease-out
