dialog()
	.bunt-dialog-container
		position fixed
		top 0
		bottom 0
		left 0
		right 0
		
		z-index 90001
		display flex
		justify-content center
		align-items center
		.bunt-dialog
			z-index 90003
			width 50vw
			card()
		.bunt-backdrop
			z-index 90002
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			background-color $clr-secondary-text-light
