input()
	.{$prefix}-input
		display flex
		flex-direction column
		height 76px
		padding-top 16px
		flex-shrink 0
		.label-input-container
			position relative
		input
			border none
			outline none
			font-family $font-stack
			font-size 16px
			font-weight 400
			width 100%
			padding: 16px 8px 16px 14px
			background-color: transparent
			border-radius: 4px
		label
			position absolute
			top 16px
			left 16px
			font-size 16px
			font-weight 400
			pointer-events none
			color $clr-secondary-text-light
			transition transform 0.25s, width 0.25s
			transform-origin left top
		.outline
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
			stroke: $clr-dividers-light
			stroke-width: 1px
			fill: none
			pointer-events: none
			stroke-dasharray: calc(var(--label-gap)/2 + 4) 0 100000
			transition: stroke .15s $material-easing, stroke-width .15s $material-easing, stroke-dasharray .15s $material-easing
		.hint
			font-size 13px
			padding-top 4px
			padding-left 16px
			color $clr-secondary-text-light

			p // nuke margins for raw html includes
				margin 0

		&.focused
			.outline
				stroke: $clr-primary
				stroke-width: 2px
			label
				color $clr-primary

		&.disabled
			cursor not-allowed
			input
				cursor not-allowed
				background-color transparent
				color $clr-disabled-text-light
			.underline::before
				background repeating-linear-gradient(to right, $clr-dividers-light, $clr-dividers-light 4px, transparent 4px, transparent 8px)

		&.floating-label, &.focused
			.outline
				stroke-dasharray: 8 calc(var(--label-gap) + 8) 10000
			label
				transform: translateY(-24px) scale(0.75)

		&.invalid
			.hint , label
				color $clr-danger

			.outline
				stroke: $clr-danger
				stroke-width: 2px

		&.dense
			height: 64px
			input
				padding 8px 8px 8px 14px
			label
				top: 8px
			&.floating-label, &.focused
				label
					transform: translateY(-16px) scale(0.75)


input-style(style = 'light', spacing = true)
	if style is 'dark'
		input
			color: $clr-primary-text-dark
		label, .hint
			color: $clr-secondary-text-dark

		&.disabled
			input
				color: $clr-disabled-text-dark
			.underline::before
				background: repeating-linear-gradient(to right, $clr-dividers-dark, $clr-dividers-dark 4px, transparent 4px, transparent 8px)
		.underline::before
			background-color: $clr-dividers-dark

	if spacing is false
		margin-bottom: 0
