radio()
	.bunt-radio
		cursor pointer
		position relative
		display flex
		flex-shrink 0
		padding-top 16px
		input
			position absolute
			cursor inherit
			pointer-events all
			opacity 0
			width 100%
			height 100%
			z-index 2
			left 0
			box-sizing border-box
			padding 0
			margin 0
		label
			font-size 14px
			line-height 20px
		.bunt-radio-circle
			height 20px
			width 20px
			border-radius 50%
			border 2px solid $clr-secondary-text-light
			margin-right 8px
			position relative
			transition all .2s ease-out
			box-sizing: border-box
			&:after
				width 10px
				height 10px
				position absolute
				top 3px
				left 3px
				background-color: $clr-primary
				transition $swift-ease-out
				border-radius: 50%
				opacity 0
				content ' '
		&.checked
			.bunt-radio-circle
				border-color $clr-primary
				&:after
					opacity 1
