select()
	.bunt-select
		position relative
		.open-indicator
			position absolute
			right 4px
			color $clr-secondary-text-light
			font-size 28px
			line-height 20px
			top: 8px
			transition all 0.25s ease-in-out
			cursor pointer
		&.open .open-indicator
			transform-origin: center
			transform rotate(180deg)
		.bunt-input input
			padding-right 20px
	.bunt-select-dropdown-menu
		card()
		border-top none
		border-radius 0 0 2px 2px
		z-index: 100
		display: flex
		flex-direction: column
		.scrollable-menu
			display: flex
			flex-direction: column
			flex: auto
			min-height: 0
		ul
			margin: 0
			padding: 0


		li
			list-style-type none
			height 32px
			padding 0 8px
			line-height 32px
			text-overflow ellipsis
			overflow hidden
			white-space nowrap
			&.highlight
				background-color $highlight-color


select-style(style = 'light', size = 'dense')
	.bunt-input
		input-style(style: style, size: size)
	if style is 'dark'
		.open-indicator
			color: $clr-secondary-text-dark
	if size is 'large'
		.open-indicator
			top: 16px
