
#buntpapier {
  margin: 0 auto 10rem;
  width: 720px;
}
#hero {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #fff;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  position: relative;
  padding: 0;
  width: 719px;
  height: 62px;
  margin: 0 0 1rem 0;
  color: #fff;
}
#hero h1 {
  font-family: 'Roboto Mono';
  position: relative;
  line-height: 60px;
  font-weight: 200;
  font-size: 36px;
  letter-spacing: 2.25px;
  margin: 0 0 0 2px;
  z-index: 100;
}
#hero:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-repeating-linear-gradient(left,#f44336 0px,#f44336 24px,#e91e63 24px,#e91e63 48px,#9c27b0 48px,#9c27b0 72px,#673ab7 72px,#673ab7 96px,#3f51b5 96px,#3f51b5 120px,#2196f3 120px,#2196f3 144px,#03a9f4 144px,#03a9f4 168px,#00bcd4 168px,#00bcd4 192px,#009688 192px,#009688 216px,#4caf50 216px,#4caf50 240px,#8bc34a 240px,#8bc34a 264px,#cddc39 264px,#cddc39 288px,#ffeb3b 288px,#ffeb3b 312px,#ffc107 312px,#ffc107 336px,#ff9800 336px,#ff9800 360px,#ff5722 360px,#ff5722 384px);
  background-image: repeating-linear-gradient(90deg,#f44336 0px,#f44336 24px,#e91e63 24px,#e91e63 48px,#9c27b0 48px,#9c27b0 72px,#673ab7 72px,#673ab7 96px,#3f51b5 96px,#3f51b5 120px,#2196f3 120px,#2196f3 144px,#03a9f4 144px,#03a9f4 168px,#00bcd4 168px,#00bcd4 192px,#009688 192px,#009688 216px,#4caf50 216px,#4caf50 240px,#8bc34a 240px,#8bc34a 264px,#cddc39 264px,#cddc39 288px,#ffeb3b 288px,#ffeb3b 312px,#ffc107 312px,#ffc107 336px,#ff9800 336px,#ff9800 360px,#ff5722 360px,#ff5722 384px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
#hero:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 24px;
  background-image: -webkit-repeating-linear-gradient(left,#f44336 0px,#f44336 24px,#e91e63 24px,#e91e63 48px,#9c27b0 48px,#9c27b0 72px,#673ab7 72px,#673ab7 96px,#3f51b5 96px,#3f51b5 120px,#2196f3 120px,#2196f3 144px,#03a9f4 144px,#03a9f4 168px,#00bcd4 168px,#00bcd4 192px,#009688 192px,#009688 216px,#4caf50 216px,#4caf50 240px,#8bc34a 240px,#8bc34a 264px,#cddc39 264px,#cddc39 288px,#ffeb3b 288px,#ffeb3b 312px,#ffc107 312px,#ffc107 336px,#ff9800 336px,#ff9800 360px,#ff5722 360px,#ff5722 384px);
  background-image: repeating-linear-gradient(90deg,#f44336 0px,#f44336 24px,#e91e63 24px,#e91e63 48px,#9c27b0 48px,#9c27b0 72px,#673ab7 72px,#673ab7 96px,#3f51b5 96px,#3f51b5 120px,#2196f3 120px,#2196f3 144px,#03a9f4 144px,#03a9f4 168px,#00bcd4 168px,#00bcd4 192px,#009688 192px,#009688 216px,#4caf50 216px,#4caf50 240px,#8bc34a 240px,#8bc34a 264px,#cddc39 264px,#cddc39 288px,#ffeb3b 288px,#ffeb3b 312px,#ffc107 312px,#ffc107 336px,#ff9800 336px,#ff9800 360px,#ff5722 360px,#ff5722 384px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#content {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #fff;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  padding: 2rem;
  width: 720px;
  box-sizing: border-box;
}
.button-default {
  color: rgba(0,0,0,0.87);
  background-color: #eee;
}
.button-default:hover:not([disabled]) {
  background-color: #cacaca;
}
.button-default.autofocus:focus,
body[modality="keyboard"] .button-default:focus {
  outline-width: 2px;
  outline-offset: 2px;
}
.button-default.autofocus:focus,
body[modality="keyboard"] .button-default:focus {
  background-color: #cacaca;
  outline-color: #b3b3b3;
}
.button-default .bunt-ripple-ink .ripple.held {
  opacity: 0.7;
}
.button-default .bunt-progress-circular .spinner-layer {
  border-color: rgba(0,0,0,0.87);
}
.button-primary {
  color: #fff;
  background-color: #2196f3;
}
.button-primary:hover:not([disabled]) {
  background-color: #0c81df;
}
.button-primary.autofocus:focus,
body[modality="keyboard"] .button-primary:focus {
  outline-width: 2px;
  outline-offset: 2px;
}
.button-primary.autofocus:focus,
body[modality="keyboard"] .button-primary:focus {
  background-color: #0c81df;
  outline-color: #0b72c4;
}
.button-primary .bunt-ripple-ink .ripple.held {
  opacity: 0.7;
}
.button-primary .bunt-progress-circular .spinner-layer {
  border-color: #fff;
}
.button-clear {
  color: rgba(0,0,0,0.87);
  background-color: transparent;
}
.button-clear:hover:not([disabled]),
.button-clear.dropdown-open {
  background-color: #e7e7e7;
}
.button-clear.autofocus:focus,
body[modality="keyboard"] .button-clear:focus {
  outline-width: 2px;
  outline-offset: 0;
}
.button-clear .bunt-progress-circular .spinner-layer {
  border-color: #fff;
}
.button-clear-primary {
  color: #2196f3;
  background-color: transparent;
}
.button-clear-primary:hover:not([disabled]),
.button-clear-primary.dropdown-open {
  background-color: #e7e7e7;
}
.button-clear-primary.autofocus:focus,
body[modality="keyboard"] .button-clear-primary:focus {
  outline-width: 2px;
  outline-offset: 0;
}
.button-clear-primary .bunt-progress-circular .spinner-layer {
  border-color: #fff;
}
.popover-icon-button {
  color: #2196f3;
  background-color: transparent;
}
body[modality="keyboard"] .popover-icon-button:focus,
.popover-icon-button:hover:not([disabled]),
.popover-icon-button.dropdown-open {
  background-color: rgba(0,0,0,0.1);
}
.popover-icon-button .bunt-icon {
  color: #2196f3;
}
.icon-buttons-flat button {
  color: rgba(0,0,0,0.87);
}
.icon-buttons-flat button:hover:not([disabled]),
.icon-buttons-flat button.dropdown-open {
  background-color: #e7e7e7;
}
.icon-buttons-flat button .bunt-icon {
  color: rgba(0,0,0,0.87);
}
.icon-buttons-flat button.autofocus:focus,
body[modality="keyboard"] .icon-buttons-flat button:focus {
  outline-color: #b3b3b3;
}
.icon-buttons-clear {
  background-color: #2196f3;
}
.icon-buttons-clear button {
  color: #fff;
  background-color: transparent;
}
body[modality="keyboard"] .icon-buttons-clear button:focus,
.icon-buttons-clear button:hover:not([disabled]),
.icon-buttons-clear button.dropdown-open {
  background-color: rgba(0,0,0,0.1);
}
.icon-buttons-clear button .bunt-icon {
  color: #fff;
}
.tabs-default .bunt-tabs-header {
  background-color: #eee;
}
.tabs-default .bunt-tabs-header .bunt-tabs-header-items {
  color: rgba(0,0,0,0.54);
}
.tabs-default .bunt-tabs-header .bunt-tabs-header-items .bunt-tab-header-item-icon {
  color: rgba(0,0,0,0.54);
}
body[modality="keyboard"] .tabs-default .bunt-tabs-header .bunt-tab-header-item:focus {
  outline: 1px solid #2196f3;
}
.tabs-default .bunt-tabs-header .bunt-tab-header-item.active {
  color: #2196f3;
}
.tabs-default .bunt-tabs-header .bunt-tab-header-item.active .bunt-tab-header-item-icon {
  color: #2196f3;
}
.tabs-default .bunt-tabs-indicator {
  background-color: #2196f3;
}html {
  font-size: 14px;
  font-size: 87.5%;
}
body {
  font-family: 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.87);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
h1 {
  font-size: 33.6px;
  font-size: 2.4rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h2 {
  font-size: 25.2px;
  font-size: 1.8rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h3 {
  font-size: 21px;
  font-size: 1.5rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h4 {
  font-size: 18.2px;
  font-size: 1.3rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h5 {
  font-size: 14px;
  font-size: 1rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
}
h6 {
  font-size: 12.6px;
  font-size: 0.9rem;
  text-rendering: optimizelegibility;
  font-weight: bold;
  margin: 0.75em 0;
  line-height: 1.6em;
  text-transform: uppercase;
}
ul {
  margin: 5px 15px;
  margin: 0.32rem 0.94rem;
  padding-left: 1rem;
}
ul li {
  list-style-type: disc;
  padding: 2px 0;
  padding: 0.125rem;
}
ol {
  margin: 5px 18px;
  margin: 0.32rem 1.125rem;
  padding-left: 1rem;
}
ol li {
  list-style-type: decimal;
  padding: 2px 0;
  padding: 0.125rem;
}
::-moz-selection {
  background: #2196f3;
  color: #fff;
}
::selection {
  background: #2196f3;
  color: #fff;
}
p {
  font-size: 1rem;
  margin: 0.75em 0;
  line-height: 1.6em;
}
small {
  font-size: 55%;
  opacity: 0.6;
  font-weight: normal;
}
a[href]:not([class]) {
  color: #2196f3;
  text-decoration: none;
}
a[href]:not([class]):hover {
  color: #0c81df;
}
a[href]:not([class]):visited {
  opacity: 0.8;
}
blockquote {
  border-left: 4px solid #2196f3;
  margin: 1em 0;
  padding-left: 1.5em;
}
blockquote > p {
  font-weight: 300;
  font-size: 127%;
  font-size: 1.27rem;
  line-height: 127%;
  line-height: 1.27rem;
  margin-top: 0;
}
blockquote > cite,
blockquote > footer,
blockquote > figcaption {
  color: #888;
}
blockquote > cite:before,
blockquote > footer:before,
blockquote > figcaption:before {
  content: '\2014';
}
.hyphenation {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}
.bunt-ripple-ink {
  display: block;
  overflow: hidden;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000);
}
.ripple {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  background-color: currentColor;
  background-clip: padding-box;
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  opacity: 0.1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.ripple-ink-enter {
  opacity: 0.2;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.ripple-ink-leave-active {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.bunt-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  cursor: inherit;
}
.bunt-button {
  font-family: 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 36px;
  vertical-align: middle;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  outline: none;
  border: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  border-radius: 2px;
  padding: 0 16px;
  min-width: 80px;
  height: 36px;
}
.bunt-button::-moz-focus-inner {
  border: 0;
}
.bunt-button.autofocus:focus,
body[modality="keyboard"] .bunt-button:focus {
  outline-style: solid;
}
.bunt-button[disabled] {
  opacity: 0.6;
}
.bunt-button:not([disabled]) {
  cursor: pointer;
}
.bunt-button .bunt-progress-circular {
  position: absolute;
  top: 50%;
  left: 50%;
}
.bunt-button .bunt-progress-circular.active {
  -webkit-animation: button-container-rotate 1568ms linear infinite;
          animation: button-container-rotate 1568ms linear infinite;
}
@-webkit-keyframes button-container-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes button-container-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.bunt-button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bunt-button-content.invisible {
  visibility: hidden;
}
.bunt-icon {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
}
.bunt-button-raised {
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.2);
  -webkit-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}
.bunt-button-raised.autofocus:focus,
body[modality="keyboard"] .bunt-button-raised:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.22), 0 3px 6px rgba(0,0,0,0.3);
}
.bunt-checkbox {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.bunt-checkbox input {
  position: absolute;
  cursor: inherit;
  pointer-events: all;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bunt-checkbox label {
  font-size: 14px;
  line-height: 24px;
}
.bunt-checkbox .bunt-checkbox-box {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 2px solid rgba(0,0,0,0.54);
  margin-right: 8px;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.bunt-checkbox .bunt-checkbox-box:after {
  width: 6px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 6px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  opacity: 0;
  -webkit-transform: rotate(45deg) scale3D(0.15, 0.15, 1);
          transform: rotate(45deg) scale3D(0.15, 0.15, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  content: ' ';
}
.bunt-checkbox.checked .bunt-checkbox-box {
  background-color: #2196f3;
  border-color: #2196f3;
}
.bunt-checkbox.checked .bunt-checkbox-box:after {
  opacity: 1;
  -webkit-transform: rotate(45deg) scale3D(1, 1, 1);
          transform: rotate(45deg) scale3D(1, 1, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bunt-icon-button {
  line-height: 36px;
  vertical-align: middle;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: none;
  outline: none;
  border: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
  border-radius: 50%;
  padding: 0;
  height: 36px;
  width: 36px;
  background-color: transparent;
}
.bunt-icon-button::-moz-focus-inner {
  border: 0;
}
.bunt-icon-button.autofocus:focus,
body[modality="keyboard"] .bunt-icon-button:focus {
  outline-style: solid;
}
.bunt-icon-button[disabled] {
  opacity: 0.6;
}
.bunt-icon-button:not([disabled]) {
  cursor: pointer;
}
.bunt-icon-button.autofocus:focus,
body[modality="keyboard"] .bunt-icon-button:focus {
  outline-width: 2px;
  outline-offset: 0;
}
.bunt-icon-button .bunt-icon {
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  width: auto;
}
.bunt-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 72px;
  padding-top: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.bunt-input .label-input-container {
  position: relative;
}
.bunt-input input {
  border: none;
  outline: none;
  font-family: 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding: 0;
}
.bunt-input label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
  color: rgba(0,0,0,0.54);
  -webkit-transition: width 0.25s, -webkit-transform 0.25s;
  transition: width 0.25s, -webkit-transform 0.25s;
  transition: transform 0.25s, width 0.25s;
  transition: transform 0.25s, width 0.25s, -webkit-transform 0.25s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
/*line-height 24px*/
}
.bunt-input .underline {
  position: relative;
  padding-top: 8px;
}
.bunt-input .underline:before,
.bunt-input .underline:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.12);
  height: 1px;
}
.bunt-input .underline:after {
  background-color: #2196f3;
  height: 2px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.bunt-input .hint {
  font-size: 13px;
  padding-top: 4px;
}
.bunt-input.focused .underline:after {
  -webkit-transform: none;
          transform: none;
}
.bunt-input.focused.floating-label label {
  color: #2196f3;
}
.bunt-input.floating-label label {
  -webkit-transform: translateY(-75%) scale(0.75);
          transform: translateY(-75%) scale(0.75);
  width: 133%;
}
.bunt-input.dense {
  height: 27px;
  margin-bottom: 33px;
  padding-top: 12px;
/*input
				font-size 13px*/
}
.bunt-input.dense label {
  padding-bottom: 4px;
}
.bunt-input.invalid .hint {
  color: #f44336;
}
.bunt-input.invalid .underline:before,
.bunt-input.invalid .underline:after {
  background-color: #f44336;
}
.bunt-drop-element {
  position: absolute;
  display: none;
  z-index: $z-index-dropdown;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
}
.bunt-drop-element,
.bunt-drop-element:after,
.bunt-drop-element:before,
.bunt-drop-element *,
.bunt-drop-element *:after,
.bunt-drop-element *:before {
  box-sizing: border-box;
}
.bunt-drop-element.bunt-drop-open {
  display: block;
}
.bunt-drop-element.bunt-drop-after-open {
  opacity: 1;
}
.bunt-progress-circular {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
/**
		 * Patch the gap that appear between the two adjacent div.circle-clipper while the
		 * spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
		 */
/*.cooldown
			/* duration SHRINK_TIME */
/*animation container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0.0, 0.2, 1)*/
}
.bunt-progress-circular.tiny {
  width: 14px;
  height: 14px;
}
.bunt-progress-circular.tiny .circle {
  border-width: 2px;
}
.bunt-progress-circular.small {
  width: 24px;
  height: 24px;
}
.bunt-progress-circular.small .circle {
  border-width: 3px;
}
.bunt-progress-circular.big {
  width: 64px;
  height: 64px;
}
.bunt-progress-circular.big .circle {
  border-width: 5px;
}
.bunt-progress-circular.huge {
  width: 128px;
  height: 128px;
}
.bunt-progress-circular.huge .circle {
  border-width: 8px;
}
.bunt-progress-circular.active {
/* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
  -webkit-animation: container-rotate 1568ms linear infinite;
          animation: container-rotate 1568ms linear infinite;
}
.bunt-progress-circular.center {
  display: block;
  margin: auto;
}
.bunt-progress-circular.page {
  display: block;
  margin: 7rem auto;
}
.bunt-progress-circular * {
  box-sizing: border-box;
}
.bunt-progress-circular .spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-color: #2196f3;
}
.bunt-progress-circular.active .spinner-layer {
/* durations 4 * ARCTIME */
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.bunt-progress-circular .gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}
.bunt-progress-circular .gap-patch .circle {
  width: 1000%;
  left: -450%;
}
.bunt-progress-circular .circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}
.bunt-progress-circular .circle-clipper .circle {
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  -webkit-animation: none;
          animation: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.bunt-progress-circular .circle-clipper.left .circle {
  left: 0;
  border-right-color: transparent !important;
  -webkit-transform: rotate(129deg);
          transform: rotate(129deg);
}
.bunt-progress-circular .circle-clipper.right .circle {
  left: -100%;
  border-left-color: transparent !important;
  -webkit-transform: rotate(-129deg);
          transform: rotate(-129deg);
}
.bunt-progress-circular.active .circle-clipper.left .circle {
/* duration ARCTIME */
  -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.bunt-progress-circular.active .circle-clipper.right .circle {
/* duration ARCTIME */
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
@-webkit-keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes container-rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg) /* 0.5 * ARCSIZE */;
            transform: rotate(135deg) /* 0.5 * ARCSIZE */;
  }
  25% {
    -webkit-transform: rotate(270deg) /* 1   * ARCSIZE */;
            transform: rotate(270deg) /* 1   * ARCSIZE */;
  }
  37.5% {
    -webkit-transform: rotate(405deg) /* 1.5 * ARCSIZE */;
            transform: rotate(405deg) /* 1.5 * ARCSIZE */;
  }
  50% {
    -webkit-transform: rotate(540deg) /* 2   * ARCSIZE */;
            transform: rotate(540deg) /* 2   * ARCSIZE */;
  }
  62.5% {
    -webkit-transform: rotate(675deg) /* 2.5 * ARCSIZE */;
            transform: rotate(675deg) /* 2.5 * ARCSIZE */;
  }
  75% {
    -webkit-transform: rotate(810deg) /* 3   * ARCSIZE */;
            transform: rotate(810deg) /* 3   * ARCSIZE */;
  }
  87.5% {
    -webkit-transform: rotate(945deg) /* 3.5 * ARCSIZE */;
            transform: rotate(945deg) /* 3.5 * ARCSIZE */;
  }
  to {
    -webkit-transform: rotate(1080deg) /* 4   * ARCSIZE */;
            transform: rotate(1080deg) /* 4   * ARCSIZE */;
  }
}
@keyframes fill-unfill-rotate {
  12.5% {
    -webkit-transform: rotate(135deg) /* 0.5 * ARCSIZE */;
            transform: rotate(135deg) /* 0.5 * ARCSIZE */;
  }
  25% {
    -webkit-transform: rotate(270deg) /* 1   * ARCSIZE */;
            transform: rotate(270deg) /* 1   * ARCSIZE */;
  }
  37.5% {
    -webkit-transform: rotate(405deg) /* 1.5 * ARCSIZE */;
            transform: rotate(405deg) /* 1.5 * ARCSIZE */;
  }
  50% {
    -webkit-transform: rotate(540deg) /* 2   * ARCSIZE */;
            transform: rotate(540deg) /* 2   * ARCSIZE */;
  }
  62.5% {
    -webkit-transform: rotate(675deg) /* 2.5 * ARCSIZE */;
            transform: rotate(675deg) /* 2.5 * ARCSIZE */;
  }
  75% {
    -webkit-transform: rotate(810deg) /* 3   * ARCSIZE */;
            transform: rotate(810deg) /* 3   * ARCSIZE */;
  }
  87.5% {
    -webkit-transform: rotate(945deg) /* 3.5 * ARCSIZE */;
            transform: rotate(945deg) /* 3.5 * ARCSIZE */;
  }
  to {
    -webkit-transform: rotate(1080deg) /* 4   * ARCSIZE */;
            transform: rotate(1080deg) /* 4   * ARCSIZE */;
  }
}
@-webkit-keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
}
@keyframes left-spin {
  from {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
}
@-webkit-keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
}
@keyframes right-spin {
  from {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.bunt-select {
  position: relative;
}
.bunt-select .open-indicator {
  position: absolute;
  right: -6px;
  color: rgba(0,0,0,0.54);
  font-size: 28px;
  line-height: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.bunt-select.open .open-indicator {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.bunt-select .bunt-input input {
  box-sizing: border-box;
  padding-right: 20px;
}
.bunt-select-dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #fff;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  border-top: none;
  border-radius: 0 0 2px 2px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bunt-select-dropdown-menu li {
  list-style-type: none;
  height: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bunt-select-dropdown-menu li.highlight {
  background-color: #2196f3;
}
.bunt-switch {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-bottom: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.bunt-switch input {
  position: absolute;
  cursor: inherit;
  pointer-events: all;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bunt-switch label {
  font-size: 14px;
  line-height: 14px;
}
.bunt-switch .bunt-switch-track {
  height: 14px;
  width: 36px;
  border-radius: 30px;
  background-color: rgba(0,0,0,0.38);
  margin-right: 8px;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.bunt-switch .bunt-switch-thumb {
  height: 20px;
  width: 20px;
  background-color: #fafafa;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate3d(-1px, -50%, 0px);
          transform: translate3d(-1px, -50%, 0px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12), 0 2px 1px -1px rgba(0,0,0,0.2);
}
.bunt-switch.checked .bunt-switch-track {
  background-color: rgba(33,150,243,0.5);
}
.bunt-switch.checked .bunt-switch-thumb {
  background-color: #2196f3;
  -webkit-transform: translate3d(75%, -50%, 0px);
          transform: translate3d(75%, -50%, 0px);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.bunt-tabs {
  width: 100%;
  margin-bottom: 24px;
}
.bunt-tabs.fullwidth .ui-tab-header-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.bunt-tabs.raised {
  border: none;
  box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.2);
}
.bunt-tabs.raised .bunt-tabs-body {
  border: none;
}
.bunt-tabs-header {
  position: relative;
  width: 100%;
}
.bunt-tabs-header .bunt-tab-header-item .ui-ripple-ink .ripple.held {
  opacity: 0.7;
}
.bunt-tabs-header-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bunt-tab {
  outline: none;
}
.bunt-tab-header-item {
  font-family: 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  padding: 0 12px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  min-width: 80px;
}
.bunt-tab-header-item.type-icon-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 72px;
}
.bunt-tab-header-item.type-icon-and-text .bunt-tab-header-item-icon {
  margin-bottom: 4px;
  margin-bottom: 4px;
}
.bunt-tab-header-item.disabled {
  opacity: 0.4;
  cursor: default;
}
.bunt-tabs-indicator {
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
}
.bunt-tabs-indicator.align-bottom {
  top: 0;
  bottom: auto;
}
.bunt-tabs-indicator.expand {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.bunt-tabs-indicator.contract {
  -webkit-transition-duration: 0.09s;
          transition-duration: 0.09s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.bunt-tooltip {
  position: absolute;
  left: 50%;
  background-color: rgba(0,0,0,0.54);
  color: #fff;
  height: 24px;
  white-space: nowrap;
  line-height: 24px;
  padding: 0 8px;
  font-size: 11px;
  font-weight: 400;
  text-transform: none;
  border-radius: 2px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 90000;
}
.bunt-tooltip.tooltip-position-bottom {
  bottom: 0;
  -webkit-transform: translate(-50%, 32px);
          transform: translate(-50%, 32px);
}
.bunt-tooltip.tooltip-position-top {
  top: 0;
  -webkit-transform: translate(-50%, -32px);
          transform: translate(-50%, -32px);
}
.bunt-tooltip.bunt-tooltip-enter-active,
.bunt-tooltip.bunt-tooltip-leave-active {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.bunt-tooltip.bunt-tooltip-enter,
.bunt-tooltip.bunt-tooltip-leave-active {
  opacity: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.bunt-dialog-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bunt-dialog-container .bunt-dialog {
  z-index: 90003;
  width: 50vw;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #fff;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.bunt-dialog-container .bunt-backdrop {
  z-index: 90002;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.54);
}
body {
  margin: 0;
  padding: 0 0 20rem 0;
  background-color: #f5f5f5;
}
.bunt-button {
  margin: 0 4px;
}
/*# sourceMappingURL=docs/styles/style.css.map */