// hardcoded values and defaults

// defines named colors
// can be used to define arbitrary shorthands for use in buttons, icons, etc
// you HAVE to declare $clr-NAME afterwards
// 'default' is special and hardcoded
$clr-names =  'primary', 'accent', 'success', 'warning', 'danger'
$clr-primary = $clr-blue
$clr-accent = $clr-purple-a400
$clr-success = $clr-green
$clr-warning = $clr-orange
$clr-danger = $clr-red

$font-stack = 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$font-size = 14

/* Transitions - Based on Angular Material */

$swift-ease-out-duration = .4s
$swift-ease-out-timing-function = cubic-bezier(.25, .8, .25, 1)
$swift-ease-out = all $swift-ease-out-duration $swift-ease-out-timing-function

$swift-ease-in-duration = .3s
$swift-ease-in-timing-function = cubic-bezier(.55, 0, .55, .2)
$swift-ease-in = all $swift-ease-in-duration $swift-ease-in-timing-function

$swift-ease-in-out-duration = .5s
$swift-ease-in-out-timing-function = cubic-bezier(.35, 0, .25, 1)
$swift-ease-in-out = all $swift-ease-in-out-duration $swift-ease-in-out-timing-function

$swift-linear-duration = .15s
$swift-linear-timing-function = linear
$swift-linear = all $swift-linear-duration $swift-linear-timing-function

$material-enter-duration = .3s
$material-enter-timing-function = cubic-bezier(.0, .0, .2, 1)
$material-enter = all $material-enter-duration $material-enter-timing-function

$material-leave-duration = .3s
$material-leave-timing-function = cubic-bezier(.4, .0, 1, 1)
$material-leave = all $material-leave-duration $material-leave-timing-function

$material-easing = cubic-bezier(0.4, 0.0, 0.2, 1)

// derived values
variables()
	// we have to use define() here, because scoping

	define('$font-color', $clr-primary-text-light, true)

	// Default color
	define('$default-color', $clr-primary, true)
	define('$spinner-default-color', $clr-primary, true)
	// Text highlight color
	define('$highlight-color', $clr-primary, true)
