$native-scrollbar-width = 17px
$rail-width = 15px
$thumb-width = 6px
$thumb-width-hovered = 12px

scrollbars()
	.v-scrollbar
		position: relative
		overflow: hidden

		&:hover
			.v-scrollbar-thumb
				opacity: .4
		.v-scrollbar-inner
			width: 100%
			height: 100%
			box-sizing: border-box
			overflow: scroll

			&::-webkit-scrollbar
				display: none

		&.v-scrollbar-non-webkit .v-scrollbar-inner
			width: 'calc(100% + %s)' % $native-scrollbar-width
			height: 'calc(100% + %s)' % $native-scrollbar-width

		.v-scrollbar-rail-x,
		.v-scrollbar-rail-y
			position: absolute
			user-select: none

		.v-scrollbar-thumb
			position: absolute
			background-color: $clr-blue-grey-600
			opacity: .2
			border-radius: $thumb-width
			transition: height .3s $material-easing, width .3s $material-easing, opacity .3s $material-easing

		.v-scrollbar-rail-x
			bottom: 0
			left: 0
			right: 0
			height: $rail-width

			.v-scrollbar-thumb
				bottom: 2px
				height: $thumb-width

			&:hover, &.active
				.v-scrollbar-thumb
					height: $thumb-width-hovered
					opacity: .8
		.v-scrollbar-rail-y
			top: 0
			bottom: 0
			right: 0
			width: $rail-width

			.v-scrollbar-thumb
				right: 2px
				width: $thumb-width
			&:hover, &.active
				.v-scrollbar-thumb
					width: $thumb-width-hovered
					opacity: .8
