$prefix = 'bunt'

$clr-primary = #77bc1f

$font-stack = 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$font-size = 14
$font-color = $clr-primary-text-light

// Default color
$default-color = $clr-primary

// Text highlight color
$highlight-color = $clr-primary
