// hardcoded values and defaults
$prefix = 'bunt'

// defines named colors
// can be used to define arbitrary shorthands for use in buttons, icons, etc
// you HAVE to declare $clr-NAME afterwards
// 'default' is special and hardcoded
$clr-names =  'primary', 'accent', 'success', 'warning', 'danger'
$clr-primary = $clr-blue
$clr-accent = $clr-purple-a400
$clr-success = $clr-green
$clr-warning = $clr-yellow
$clr-danger = $clr-red

$font-stack = 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$font-size = 14

// derived values
variables()
	// we have to use define() here, because scoping
	
	define('$font-color', $clr-primary-text-light, true)

	// Default color
	define('$default-color', $clr-primary, true)
	define('$spinner-default-color', $clr-primary, true)
	// Text highlight color
	define('$highlight-color', $clr-primary, true)
