// hardcoded values and defaults
$prefix = 'bunt'

$clr-primary = #77bc1f

$font-stack = 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$font-size = 14

// derived values
variables()
	// we have to use define() here, because scoping
	
	define('$font-color', $clr-primary-text-light, true)

	// Default color
	define('$default-color', $clr-primary, true)
	define('$spinner-default-color', $clr-primary, true)
	// Text highlight color
	define('$highlight-color', $clr-primary, true)
